:root {
  --Font-H1-: "Ubuntu Mono", monospace;
  --Font-P-: "Ubuntu Condensed", sans-serif;
}

h1 {
  margin-top: 0;
  font-family: var(--Font-H1-);
  text-shadow: 0 0 5px #73dcff;
  color: #ddf5fd;
}

p {
  font-family: var(--Font-P-);
  text-shadow: 0 0 3px #73dcff;
  color: #ddf5fd;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  /* display: grid;
  grid-template-columns: 5vw repeat(5, 1fr) 5vw;
  grid-template-rows: repeat(4, 1fr); */
}
#overlay {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-image: linear-gradient(
    #73dcff49,
    rgba(115, 220, 255, 0.068),
    #73dcff49
  );
}

#infobox {
  position: absolute;
  width: 100%;
  text-align: center;
}

.blink {
  animation: blink 1s alternate-reverse 8;
  /* animation-fill-mode: forwards; */
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

#svg_timeAndDate {
  position: relative;
  flex-basis: 20vw;
  height: 55vh;
}

#modal_placeholder {
  flex-basis: 55vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue;     */
}

#modal_placeholder svg {
  height: 0;
}

#modal_screen {
  position: relative;
}

/* #modal_placeholder  */

#modal_window {
  opacity: 0;
  position: absolute;
  display: flex;
}

#modal_window .movie_data {
  padding: 10px;
  flex-grow: 1;
  width: 50%;
  overflow-y: scroll;
}
#modal_window .image {
  padding-right: 10px;
  flex-grow: 1;
  width: 30%;
  margin-top: 5px;
}

#modal_window .image img {
  box-shadow: 0 0 3px #73dcff;
}

#svg_folder {
  opacity: 0;
  position: absolute;
  width: 80px;
  height: 50px;
}
#svg_folder svg {
  width: 100%;
}

.animate_folder {
  animation: move_to_modal 0300ms linear 1;
  animation-fill-mode: forwards;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes move_to_modal {
  0% {
  }

  100% {
    transform: translate(644px, 103px);
  }
}

.animate_modal {
  animation: animate_modal 0300ms linear 1;
  animation-fill-mode: forwards;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes animate_modal {
  0% {
    height: 0;
  }

  100% {
    height: 300px;
  }
}

#svg_jarvis {
  position: relative;
  flex-basis: 25vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

#svg_jarvis svg {
  overflow: initial;
}

.jarvis_rotate_outer_pins {
  animation: jarvis_rotate_clockwise 5s reverse linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_rotate_outer_circle {
  animation: jarvis_rotate_clockwise 5s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_rotate_inner_circle {
  animation: jarvis_rotate_clockwise 5s alternate-reverse linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_rotate_middle_pins {
  animation: jarvis_rotate_clockwise 10s reverse linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes jarvis_rotate_clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.jarvis_scale_inner_circle {
  animation: jarvis_scale 300ms linear alternate 2;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_scale_inner_pins {
  animation: jarvis_scale 400ms linear alternate 2;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_scale_middle_pins {
  animation: jarvis_scale 500ms linear alternate 2;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_scale_middle_circle {
  animation: jarvis_scale 600ms linear alternate 2;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_scale_outer_circle {
  animation: jarvis_scale 700ms linear alternate 2;
  transform-box: fill-box;
  transform-origin: center;
}

.jarvis_scale_outer_pins {
  animation: jarvis_scale 800ms linear alternate 2;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes jarvis_scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

#svg_timeline {
  z-index: 1;
  position: relative;
  flex-basis: 100vw;
  width: 100%;
  height: 40vh;
  padding-bottom: 5vh;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
}

.animate:hover {
  cursor: pointer;
}

.rotate_outer_circle {
  animation: rotate1 3s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.rotate_inner_circle {
  animation: rotate2 1s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.rotate_thin_circle {
  animation: rotate3 10s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
